$shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);

.tab-content-wrap.skills {
    background-color: var(--primary-color-medium);
    padding: 8em 0;

    .skill {
        margin-top: 1rem;
        padding: 1em;
        position: relative;
        z-index: 0;
        box-shadow: $shadow;
        display: block;
        text-align: center;

        @media (width < 768px) {
        }

        img {
            width: 30px;
            height: 30px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        h3 {
            font-size: 14px;
            font-weight: 500;
            margin-top: 1rem;
        }
 
        @each $name, $color in $tech-colors {
            &.color-#{$name} {
                border-bottom: 2px solid $color;

                span {
                    color: $color;
                }
            }
        }
    }

    .chip {
        padding: 5px 10px;
        height: 35px;
        font-size: 12px;
        border-radius: 25px;
        width: fit-content;
        margin-right: .75rem;
        margin-bottom: .75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        img {
            float: left;
            height: 20px;
            width: 20px;
        }

        // Generate color variants dynamically
        @each $name, $color in $tech-colors {
            &.color-#{$name} {
                border: 1px solid $color;

                span {
                    color: $color;
                }
            }
        }
    }

}