@font-face {
  font-family: CascadiaCode;
  src: url("../fonts/CascadiaCode.ttf");
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #141215;
  font-family: CascadiaCode;
}
* {
  box-sizing: border-box;
}

.bg-1 {
  width: 100%;
  height: 80vh;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  background-image: url("../images/code-wallpaper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;

  filter: blur(5px);
  -webkit-filter: blur(5px);
  box-shadow: 0 0 32px 2px #2d282e;

  z-index: 1;
}

.title-profile {
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(12, 11, 13, 0.9);
  border-radius: 1rem;
  z-index: 2;
  padding: 2.5rem;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: white;
}

.rest {
  width: 100%;
  display: block;
  max-width: 1400px;
  padding: 0 3rem;
  margin-bottom: 3rem;
  margin: 0 auto;
}

.container-skills { 
  display: flex;
  justify-content: center;
  flex-shrink: 3;
  margin-top: 3rem;
  flex-flow: row wrap;
  gap: 2.5rem;
  width: 100%;
}

.skill {
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  background-color: rgba(12, 11, 13, 0.9);
  color: #fff;
  transition: transform 1s ease-in-out, box-shadow 0.5s ease-in-out;
}

.skill:hover {
  transform: scale(1.04);
  box-shadow: 0 0 12px 3px #fff;
}
